input,
select {
  outline-width: 2px;
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 6px;
}

input,
label {
  display: block;
}

label {
  font-size: 1rem;
  /* font-weight: bold; */
}

input:focus {
  outline: 1px solid #0783e2;
}

.container {
  max-width: 1280px;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: inter;
}

.content {
  height: 80vh;
}
.footer {
  color: white;
  /* padding: 10px; */
  text-align: center;
  width: 100%;
}

.filters-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.order-count-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.record-count {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.table-container {
  border-radius: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff;
  opacity: 1;
  overflow-y: auto;
  height: 70vh;
  margin-top: 1px;
}

#order-table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 400px;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#order-table thead th {
  position: sticky;
  background-color: #005698;
  top: 0;
  z-index: 2;
}

#order-table thead tr {
  background-color: #005698;
  color: #ffffff;
  text-align: left;
}

#order-table th,
#order-table td {
  padding: 12px 15px;
}

#order-table tbody {
  overflow-y: auto;
}

#order-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

#order-table tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}

#order-table tbody tr:last-of-type {
  border-bottom: 2px solid #005698;
}

#order-table tbody tr.active-row {
  font-weight: bold;
  color: #005698;
}
